version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: cy_stonks_db
    restart: always
    environment:
      POSTGRES_USER: cy_stonks_user
      POSTGRES_PASSWORD: cytech0001
      POSTGRES_DB: cy_stonks
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  app:
    container_name: cy_stonks_app
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "jdbc:postgresql://postgres:5432/cy_stonks"
      DATABASE_USER: "cy_stonks_user"
      DATABASE_PASSWORD: "cytech0001"
    ports:
      - "8081:8081"  # Map the container's port 8081 to the host's port 8081
    volumes:
      - .:/app
    working_dir: /app

volumes:
  postgres_data:
    driver: local