version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: cy_stonks_db
    restart: always
    environment:
      POSTGRES_USER: cy_stonks_user
      POSTGRES_PASSWORD: cytech0001
      POSTGRES_DB: cy_stonks
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build:
      context: ./backend  # Indique que le Dockerfile est dans backend/
      dockerfile: Dockerfile  # Nom du fichier Dockerfile
    container_name: cy_stonks_backend
    depends_on:
      - postgres
    env_file:
      - secure.env
    environment:
      DATABASE_URL: "jdbc:postgresql://postgres:5432/cy_stonks"
      DATABASE_USER: "cy_stonks_user"
      DATABASE_PASSWORD: "cytech0001"
    ports:
      - "9000:9000"
    volumes:
      - ./backend:/app  # Monte uniquement le backend dans /app
    working_dir: /app
    command: [ "sbt", "runMain Main" ]

  pgadmin:
    image: dpage/pgadmin4
    container_name: cy_stonks_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@mail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local
